.container{
	background-color: #eee;
	width: 1000px;
	height:600px;
	margin:30px auto;

	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-template-columns: repeat(3,1fr);

	/*grid-row-gap:20px;
	grid-column-gap:20px;*/
	grid-gap:20px;
}
.item{
	padding: 20px;
	font-size:24px;
	color:white;
}
.item--1{
	background-color:red;
	grid-row:1/2;
	grid-column:2/3;
	z-index:10;
}
.item--2{
	background-color:orange;
	grid-row:1/2;
	grid-column:2/3;
	z-index:11;	
}
.item--3{
	background-color:gold;	
}
.item--4{
	background-color:yellow;	
}
.item--5{
	background-color:greenyellow;	
}
.item--6{
	background-color:green;	
}
.item--7{
	background-color:lightseagreen;	
}
.item--8{
	background-color:dodgerblue;	
}
.item--9{
	background-color:darkviolet;	
}