.container{
	background-color: #eee;
	width: 1000px;
	height:600px;
	margin:30px auto;

	display: grid;

	grid-gap:20px;

	grid-template-areas:"item--1 item--1 item--4 item--4"
						"item--2 item--3 item--4 item--4"
						"item--5 item--6 item--7 item--7"
						"item--8 . item--9 item--9";
	align-items: center;
	justify-items:center;
}
.item{
	padding: 20px;
	font-size:24px;
	color:white;
}
.item--1{
	background-color:red;
	grid-area: item--1;
	align-self: start;
}
.item--2{
	background-color:orange;
	grid-area: item--2;
}
.item--3{
	background-color:gold;
	grid-area: item--3;	
}
.item--4{
	background-color:yellow;
	grid-area: item--4;	
}
.item--5{
	background-color:greenyellow;
	grid-area: item--5;
}
.item--6{
	background-color:green;
	grid-area: item--6;	
}
.item--7{
	background-color:lightseagreen;
	grid-area: item--7;
}
.item--8{
	background-color:dodgerblue;
	grid-area: item--8;	
}
.item--9{
	background-color:darkviolet;
	grid-area: item--9;	
}